.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: black;

  p {
    font-style: italic;
    margin: 0 auto;
  }

  h1, p, form {
    margin-left: 120px;
  }

  label {
    margin-left: 1em;

    &:first-of-type {
      margin-left: 0;

      input {
        margin-left: 0;
      }
    }
  }

  rect {
    fill: indigo;
    fill-opacity: 0.7;
  
    &:hover {
      fill-opacity: 1;
    }
  }
}

#tooltip {
  position: absolute;
  font-size: 0.8em;
  text-align: center;
  background-color: papayawhip;
  box-shadow: 1px 1px 1px 1px grey;
  border-radius: 5px;
  padding: 8px;

  p {
    margin: 0;
  }
}

.hidden {
  opacity: 0;
}

