.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: black;

  h1 {
    font-size: 3vw;
    margin: 40px auto;
  }

  rect {
    fill: indigo;
    fill-opacity: 0.7;
  
    &:hover {
      fill-opacity: 1;
    }
  }
  
  .worldmap {
    max-height: 750px;

    >* {
      fill: indigo;
      fill-opacity: 0.7;
    
      &:hover {
        fill-opacity: 1;
        cursor: pointer;
      }
    }
  }

  #tooltip {
    position: absolute;
    z-index: 1;
    font-size: 0.8em;
    text-align: center;
    background-color: papayawhip;
    box-shadow: 1px 1px 1px 1px grey;
    border-radius: 5px;
    padding: 8px;
  
    p {
      margin: 0;
    }
  }
  
  .hidden {
    opacity: 0;
  }

  .close {
    position: absolute;
    right: 0.3vw;
    top: 0.3vw;
    width: 2vw;
    height: 2vw;
    z-index: 1;
    opacity: 0.5;
    display: none;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 0.9vw;
    content: ' ';
    height: 2vw;
    width: 0.12vw;
    background-color: black;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }

  .barchart {
    display: none;
    position: absolute;
    height: 27.5vw;
    width: 44.5vw;
    margin-right: 0;
    margin-left: 0;
    transform: translate(28vw, 180px);
    background-color: white;

    h2 {
      font-size: 1.44vw;
      width: fit-content;
      margin: 1.2vw auto;
    }

    .chart {
      transform: translate(40px, 40px);
    }
  }
}